[submodule "code/citysim/graphhopper"]
	path = code/citysim/graphhopper
	url = https://github.com/tomagb/graphhopper
[submodule "code/citysim/city"]
	path = code/citysim/city
	url = https://github.com/tomagb/city
[submodule "code/citysim/cityfront"]
	path = code/citysim/cityfront
	url = https://github.com/tomagb/cityfront
