[submodule "graphhopper"]
	path = code/graphhopper
	url = https://github.com/klekih/graphhopper
[submodule "city"]
	path = code/city
	url = https://github.com/klekih/city
[submodule "code/cityfront"]
	path = code/cityfront
	url = https://github.com/klekih/cityfront
